.App {
    --header_height: 60px;
    position: relative;
}

.hw {

}

.hwTitle {
    color: #000000;
    margin-top: 107px;
    margin-left: 70px;
    font-weight: 600;
    font-size: 22px;
}

.divider {
    margin-top: 10px;
    border: 1px solid #D9D9D9;
}